{% extends "base.html" %}
{% block content %}

    <h2>{{ auction.title }}</h2>
    <p><b>Description:</b> {{ auction.description }} </p>
    <p><b>Min Price:</b> {{ auction.min_price }}</p>
    <p><b>Deadline:</b> {{ auction.end_time }}</p>
    <p><b>Seller:</b> {{ auction.seller }}</p>
    <p><a href="/editdescription/{{ auction.id }}">edit description</a> <br> <a href="/addbid/{{ auction.id }}" >add bid</a> </p>

    {%  for bid in bids %}
        <p><b>Bids:</b> {{ bid.bid_price }}</p>
    {% endfor %}

{% endblock %}